<h1>ЗВОРОТНІЙ ЗВ'ЯЗОК</h1>
<div>
  <h2>Контактні дані  </h2>
  <p>
    <span>Ім'я  </span>

  </p>
  <p>
    <span>Телефон  </span>

  </p>
  <p>
    <span>Електронна скринька  </span>

  </p>
  <p>
    <span>Повідомлення  </span>

  </p>
</div>
<div>
  <h2>Зручний час дзвінка:</h2>
  <p><span>З  </span>

  </p>
  <p><span>До  </span>

  </p>
</div>
</div>